@model Practica_1.Models.Formulario;

@{
    ViewData["Title"] = "Formulario Page";
}

<div class="text-center">
    <h1 class="display-4">Hecho por Robert Gutierrez</h1>
    <form asp-controller="Estudiante" asp-action="Registrar">
        <hr>
       
    <div class="form-group">
            
            <label>Nombre:</label>
            <input class="form-control" asp-for="Nombre_Est"/>
            <br>

            <label>Apellido:</label>
            <input  class="form-control" asp-for="Apellido_Est"/>
            <br>
            <label>Distrito:</label>
            <input  class="form-control" asp-for="Distrito"/>
            <br>

            <label>Banco</label>
            <select asp-for="Banco">
                <option value="Economia">Economia</option>
                <option value="Quimica">Quimica</option>
                <option value="Matematica">Matematica</option>
                <option value="Fisica">Fisica</option>
            </select>
            <br>
            <label>Edad:</label>
            <input  class="form-control" asp-for="Edad"/>
            <br>
             <label>Genero:</label>
            <input  class="form-control" asp-for="Genero"/>
            <br>
            <label>Autor:</label>
            <input  class="form-control" asp-for="Autor"/>
            <br>

           

            
 
            
            <button type="imput" class="btn btn-dark" value="Registrar" >Registrar</button>
            <br>

    </form>
    <br>
    
    <td>@Html.DisplayNameFor(model => model.Respuesta)</td>
    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>

</div>